{% extends 'master.html.twig' %}

{% block title %} Instituições de Ensino {% endblock %}

{% block breadcrumb %}
<li><a href="#">Instituições</a></li>
<li class="is-active"><a href="{{ path_for('instituicao.index') }}" aria-current="page">Visualizar</a></li>
{% endblock %}

{% block content %}
<table class="table is-bordered is-striped is-fullwidth">
  <thead>
    <th>Sigla</th>
    <th>Nome</th>
  </thead>
  <tbody>
    {% for instituicao in instituicoes %}
    <tr>
        <td>{{ instituicao.sigla }}</td>
        <td>{{ instituicao.nome }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
