<aside class="menu">
  <p class="menu-label">
    Geral
  </p>
  <ul class="menu-list">
    <li><a href="{{ path_for('dashboard.index') }}">Dashboard</a></li>
  </ul>
  <p class="menu-label">
    Participantes
  </p>
  <ul class="menu-list">
    <li><a>Visualizar</a></li>
  </ul>
  <p class="menu-label">
    Áreas do Conhecimento
  </p>
  <ul class="menu-list">
    <li><a>Novo</a></li>
    <li><a>Visualizar</a></li>
  </ul>
  <p class="menu-label">
    Instituições
  </p>
  <ul class="menu-list">
    <li><a href="{{ path_for('instituicao.create') }}">Novo</a></li>
    <li><a href="{{ path_for('instituicao.index') }}">Visualizar</a></li>
  </ul>
  <p class="menu-label">
    Eventos
  </p>
  <ul class="menu-list">
    <li><a>Novo</a></li>
    <li><a>Visualizar</a></li>
  </ul>
  <p class="menu-label">
    Inscrições
  </p>
  <ul class="menu-list">
    <li><a href="{{ path_for('inscricao.index') }}">Visualizar</a></li>
  </ul>
  <p class="menu-label">
    Artigos
  </p>
  <ul class="menu-list">
    <li><a>Visualizar</a></li>
    <li><a>Ranking</a></li>
  </ul>
</aside>
